.create-chapter-main-container {
  min-width: 60vw;
  max-width: 80vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 1rem;
  border: 0.5px solid #008cff;
  box-shadow: 0 0 3rem #008cff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#create-chapter-form {
  min-width: 60vw;
  min-height: 40vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  padding: 5%;
  border-radius: 0.8rem;
}

#create-chapter-form input {
  min-width: 26vw;
  min-height: 6vh;
  padding: 1% 2%;
  border-radius: 0.8rem;
  outline: none;
  border: none;
  font-size: 1rem;
  transition: 3s all cubic-bezier(0.075, 0.82, 0.165, 1);
  letter-spacing: 0.1rem;
}
#create-chapter-form textarea {
  min-width: 26vw;
  min-height: 12vh;
  padding: 1% 2%;
  outline: none;
  border: none;
  border-radius: 0.8rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 0.1rem;
}

#create-chapter-form textarea:valid {
  font-size: 1rem;
}

#create-chapter-form input:not(:placeholder-shown) {
  font-size: 0.8rem;
  font-weight: 100;
  background-color: #292929;
  color: #fff;
}

#create-chapter-form button[type="submit"] {
  padding: 2% 6%;
  font: 1em sans-serif;
  background-color: #6f6f6f;
  border: none;
  border-radius: 1rem;
  transition: 0.8s all ease;
}

#create-chapter-form button[type="submit"]:hover {
  box-shadow: 0 0 2rem #7cc2ff;
  color: #008cff;
  cursor: pointer;
  background-color: #fff;
  text-shadow: 0 0 1rem #008cff;
}

.option-inputs {
  margin: 0.5rem;
}
