.create-topic-main-container {
  background-color: #ffc0fd;
  min-width: 80vw;
  border-radius: 1rem;
  min-height: 80vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-shadow: 0 0 0.5rem #000;
  padding: 2% 1%;
}

.create-topic-main-container #create-topic-form {
  /* background-color: rgba(255, 255, 255, 0.4); */
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.create-topic-main-container #create-topic-form input {
  padding: 1%;
  border-radius: 0.5rem;
  border: none;
  min-width: 36vw;
  font-size: 1rem;
  letter-spacing: 0.12rem;
}

.create-topic-main-container #create-topic-form textarea {
  padding: 0.5% 1%;
  min-width: 36vw;
  min-height: 18vh;
  font-size: 1rem;
  background-color: #fff;
  letter-spacing: 0.1rem;
  resize: vertical;
  text-align: justify;
  /* border: 2px solid #04ff00; */
  border: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transition: 1s all ease;
}

.create-topic-main-container
  #create-topic-form
  textarea:not(:placeholder-shown) {
  background-color: #f0f0f0;
  border: none;
  outline: 1px solid #04ff00;
  font-size: 0.9rem;
  border-radius: 1rem;
}

.create-topic-main-container .quiz-section input {
  margin: 0rem 1rem 1.8rem 1rem;
}

.create-topic-main-container #create-topic-form button {
  padding: 1.4% 2%;
  margin-bottom: 1%;
  font-size: 1.1rem;
  font-weight: 500;
  border-radius: 1.1rem;
  border: none;
  min-width: 20dvw;
  transition: 0.8s all ease;
}
.create-topic-main-container #create-topic-form button:hover {
  background-color: #1a1a1a;
  color: #fff;
  text-shadow: 0 0 0.3rem #008cff;
  box-shadow: 0rem 0rem 2rem #008cff;
  cursor: pointer;
}

#create-topic-form button i {
  transition: 0.6s all ease;
  color: #1a1a1a;
  text-shadow: 0 0 0.2rem #fff;
  margin: 0% 4%;
}

#create-topic-form button i:hover {
  text-shadow: 0 0 1rem #008cff;
  color: #e6e6e6;
  cursor: pointer;
}
#create-topic-form p {
  font-size: 1rem;
  border: 1px solid #fff;
  padding: 1% 2%;
  border-radius: 1rem;
  background-color: #73ff71;
  box-shadow: 0 0 1rem #04ff00, 0 0 1.4rem #04ff00;
  animation: topic-creation 0.8s ease-in-out infinite;
  transition: 0.5s all ease;
}

@keyframes topic-creation {
  0% {
    transform: translateY(10px) scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: translateY(-10px) scale(1);
  }
}
