/* src/components/Navbar.css */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Rubik+Doodle+Triangles&family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap");
.navbar {
  background-color: #ffffff66;
  background-color: #9dff90;
  padding: 1rem;
  margin: 1rem 0 2rem 0;
  border-radius: 1rem;
  position: sticky;
  top: 0;
  min-width: 80vw;
  left: 0;
  z-index: 4;
  box-shadow: 0 0 1rem #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#logo-div {
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Rubik Doodle Triangles", system-ui;
  font-size: 1.5rem;
  font-weight: 550;
  /* text-shadow: 0 0 1rem #000; */
  letter-spacing: 0.1rem;
  flex-basis: 28%;
  gap: 0.8rem;
  border-radius: 0.8rem;
  border: 3px double #000;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  gap: 1rem;
  /* background-color: aquamarine; */
}

.navbar ul li {
  display: inline;
}

.navbar ul li a {
  /* color: white; */
  color: #171717;
  text-decoration: none;
  font-size: 1.1rem;
  transition: 0.6s all ease;
}

.navbar ul li button {
  background-color: transparent;
  border: none;
  color: #ff6600;
  cursor: pointer;
  font-size: 1.2rem;
  transition: 0.6s all ease;
}

.navbar ul li button:hover,
.navbar ul li a:hover {
  color: #008cff;
  text-shadow: 0 0 1rem #000;
}
