#reset-pass-main-container {
  min-width: 80vw;
  min-height: 60vh;
  background-color: #999999;
  border: 0.1rem solid #474747;
}
.reset-pass-main-container {
  color: red;
  background-color: aqua;
  border: 0.1rem solid #474747;
}

.reset-pass-header {
  color: green;
}
