#sd-main-container {
  padding: 2rem;
  max-width: 1000px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.4);
}

.dashboard-header {
  text-align: center;
  margin-bottom: 2rem;
}

.enrolled-courses-section,
.announcements-section,
.resources-section {
  margin-bottom: 2rem;
}

.courses-list {
  list-style: none;
  padding: 0;
}

.course-item {
  background-color: #8efe96;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
}
/* 
.course-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
} */
.progress-container {
  margin-top: 0.5rem;
}

.announcements-box {
  background-color: #eef4ff;
  padding: 1rem;
  border-radius: 8px;
}

.resources-list {
  list-style: none;
  padding: 0;
}

.resources-list li {
  margin-bottom: 0.5rem;
}

.resources-list a {
  color: #007bff;
  text-decoration: none;
}

.resources-list a:hover {
  text-decoration: underline;
}

progress {
  font-size: 1.4rem;
}
.chapters-list li {
  margin-bottom: 0.5rem;
  border: 1px solid #fff;
  border-radius: 1rem;
  transition: 0.4s all ease-in;
  /* padding: 2.8% 1%; */
  font-weight: 500;
  /* min-height: 3vh; */
  list-style-type: none;
}
.chapters-list li:hover {
  /* border: 1px solid #fff; */
  background-color: #007bff;
}
.chapters-list a {
  text-decoration: none;
  color: #000;
  display: block;
  transition: 0.4s all ease-in;
  /* height: 3vh; */
  padding: 3% 1%;
}
.chapters-list a:hover {
  color: #fff;
}
.chapters-list {
  padding: 1%;
}
